<script type="module">
  import * as THREE from "three";
  import { GLTFLoader } from "three/addons/loaders/GLTFLoader.js";
  import { OrbitControls } from "three/addons/controls/OrbitControls.js";

  const ASPECT_RATIO = 27 / 7;
  const FRUSTUM_SIZE = 5;
  const NEAR_CLIP = 1;
  const FAR_CLIP = 1000;

  const INITIAL_CAMERA_POSITION = [20, 0, 0];
  const DRAG_ROTATION_SPEED = 0.1;
  const AUTO_ROTATION_SPEED = 0.25;

  const LIGHT_SIZE = 5;
  const LIGHT_INTENSITY = 160;
  const LIGHT_OFFSET = [50, 0, 0];

  const MODEL_GLB_PATH = "assets/city.glb";
  const INITIAL_MODEL_ROTATION = 0.5;

  const container = document.querySelector("header");
  const containerWidth = container.clientWidth;

  const canvasWidth = containerWidth;
  const canvasHeight = containerWidth / ASPECT_RATIO;

  // Create a renderer
  const renderer = new THREE.WebGLRenderer({ antialias: true });
  renderer.setSize(canvasWidth, canvasHeight);
  renderer.setPixelRatio(window.devicePixelRatio);
  container.appendChild(renderer.domElement);
  renderer.domElement.style.display = "none";

  // Create a scene
  const scene = new THREE.Scene();
  scene.background = new THREE.Color(0xfcfcfc);

  // Set up the camera (Orthographic)
  const camera = new THREE.OrthographicCamera(
    -FRUSTUM_SIZE * ASPECT_RATIO,
    FRUSTUM_SIZE * ASPECT_RATIO,
    FRUSTUM_SIZE,
    -FRUSTUM_SIZE,
    NEAR_CLIP,
    FAR_CLIP
  );

  const position =
    window.localStorage.cameraStart?.split(",") ?? INITIAL_CAMERA_POSITION;
  camera.position.set(...position);
  scene.add(camera);

  // Orbit controls
  const controls = new OrbitControls(camera, renderer.domElement);

  controls.minPolarAngle = Math.PI / 2;
  controls.maxPolarAngle = Math.PI / 2;
  controls.enableZoom = false;
  controls.enablePan = false;
  controls.enableDamping = true;
  controls.rotateSpeed = DRAG_ROTATION_SPEED;
  controls.autoRotate = true;
  controls.autoRotateSpeed = AUTO_ROTATION_SPEED;
  controls.update();

  // Add some lighting
  const rectLight = new THREE.RectAreaLight(
    0xffffff,
    LIGHT_INTENSITY,
    LIGHT_SIZE,
    LIGHT_SIZE
  );
  rectLight.position.set(...LIGHT_OFFSET);
  rectLight.lookAt(0, 0, 0);
  camera.add(rectLight);

  // const ambientLight = new THREE.AmbientLight(0xffffff, 0.1);
  // scene.add(ambientLight);

  // Load a GLB model
  let model = null;

  const loader = new GLTFLoader();
  loader.load(
    MODEL_GLB_PATH,
    (gltf) => {
      model = gltf.scene;
      model.rotateY(INITIAL_MODEL_ROTATION);
      model.traverse((obj) => {
        if (obj.material) {
          obj.material.metalness = 0;
        }
      });

      scene.add(model);

      // Remove loading highlights
      renderer.domElement.style.display = "block";
      document.querySelector("header").classList.remove("shimmer");

      render();
    },
    undefined,
    (error) => {
      console.error("Error loading the model", error);
    }
  );

  const render = () => {
    requestAnimationFrame(render);

    controls.update();
    window.localStorage.cameraStart = camera.position.toArray();

    renderer.render(scene, camera);
  };
</script>
