<footer>
  <hr />
  {% include external_link.html title='linkedin' href=site.linkedin_url %} {%
  include external_link.html title='github' href=site.github_url %}
  <button id="reveal-email">
    <svg
      width="18px"
      height="18px"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>Reveal email address.</title>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M3.75 5.25L3 6V18L3.75 18.75H20.25L21 18V6L20.25 5.25H3.75ZM4.5 7.6955V17.25H19.5V7.69525L11.9999 14.5136L4.5 7.6955ZM18.3099 6.75H5.68986L11.9999 12.4864L18.3099 6.75Z"
        fill="#000000"
      />
    </svg>
    <span
      id="revealed-email-container"
      style="font-size: 12px; display: none"
    ></span>
  </button>
</footer>

<script>
  document.getElementById("reveal-email").addEventListener("click", (event) => {
    // Okay advanced spammers, try to figure this one out!!!
    const email = ["gg", "gus.city"].join("@");
    const containter = document.getElementById("revealed-email-container");

    if (containter.textContent === "") {
      // First action reveals email.
      containter.textContent = email;
      containter.style.display = "inline";
    } else {
      // Second action opens email client.
      window.location.href = `mailto:${email}`;
    }
  });
</script>
