/** Document setup **/
html {
  --content-max-width: 600px;
  --space-xs: 5px;
  --space-sm: 10px;
  --space: 15px;
  --space-lg: 30px;
  --space-xl: 45px;

  --bg: #fcfcfc;
  --bg-contrast: white;
  --text: black;
  --light-text: #505050;
  --gray-0: #f6f6f6;
  --gray-1: #c0c0c0;
  --gray-2: #aaaaaa;
  --gray-3: #222222;

  --header-box-shadow: 0px -2px 20px 1px inset var(--gray-2);
  --header-bg: linear-gradient(to left, var(--gray-2), var(--bg-contrast));
  --card-box-shadow: 0px 1px 2px 0px var(--gray-2);
}

html.dark-mode {
  --bg: #151515;
  --bg-contrast: #202020;
  --text: #ddd;
  --light-text: #aaa;
  --gray-0: #111;
  --gray-1: #444;
  --gray-2: #aaa;
  --gray-3: #e0e0e0;

  --header-box-shadow: 0px -2px 20px 1px inset var(--bg-contrast);
  --header-bg: linear-gradient(to left, var(--gray-2), var(--bg));
  --card-box-shadow: 0px 3px 20px 0px var(--bg-contrast);
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--bg);
  transition: background-color 0.2s ease-in;
}

#content-wrapper {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: var(--space-xl) var(--space);
  padding-bottom: var(--space-xl);
  max-width: var(--content-max-width);
}

main {
  display: flex;
  flex: 1;
  gap: var(--space);
  flex-direction: column;
}

header {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;

  .window {
    width: 100%;
    box-shadow: var(--header-box-shadow);
    background: var(--header-bg);
    height: 170px;
    border-bottom: none;

    a {
      position: absolute;
      right: var(--space-sm);
      left: var(--space-sm);
      top: 20px;
      color: var(--text);
      font-weight: 600;
      width: 100%;
      border-top: 1px solid var(--gray-2);
    }
  }

  .wrapper {
    display: flex;
    align-items: flex-end;
    position: relative;
    margin: auto;
    padding-bottom: 0;
    width: var(--content-max-width);
    max-width: 100%;
    height: 100%;
  }

  canvas {
    cursor: grab;
    margin: 0 auto;
    opacity: 0.8;
  }

  canvas:active {
    cursor: grabbing;
  }
}

@media (width <= 600px) {
  header .window {
    height: 150px;
  }
}

.control-bar {
  padding: var(--space);
  max-width: 100%;
  width: var(--content-max-width);
  margin: auto;
  display: flex;
  gap: 8px;
  align-items: center;
}

footer {
  margin: var(--space-lg) 0;
  display: flex;
  gap: var(--space-xs);
  justify-content: flex-end;

  hr {
    flex: 1;
    display: flex;
    transform: translateY(4px);
  }
}

/** Semantic tags **/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
  font-size: var(--space);
  font-weight: 600;
}

p,
a {
  font-size: var(--space);
  color: var(--light-text);
  text-decoration-style: dotted;
  transition: all 0.25s linear;
}

a:hover,
.project:hover h2 {
  color: var(--text);
}

h1 a,
h2 a {
  color: var(--text);
}

ul {
  padding-inline-start: var(--space);
}

ul li::marker {
  color: var(--text);
}

code {
  background-color: var(--gray-0);
}

button {
  cursor: pointer;
  padding: 2px 4px;
  gap: 4px;
  border-radius: 2px;
  background-color: var(--bg);
  border: 1px solid var(--light-text);
  box-shadow: var(--card-box-shadow);

  font-size: 12px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  transition: background-color 0.2s linear;
  color: var(--light-text);
}

button:hover {
  background-color: var(--bg-contrast);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--gray-1);
  margin: var(--space-sm) 0;
  padding: 0;
}

/** Utility **/

.full-width {
  margin-left: calc(-100vw / 2 + var(--content-max-width) / 2);
  margin-right: calc(-100vw / 2 + var(--content-max-width) / 2);
  display: flex;
  justify-content: center;
  gap: var(--space);
  flex-wrap: wrap;
}

@media (width <= 600px) {
  .full-width {
    margin: 0;

    img {
      height: auto;
    }
  }
}

.theme-toggle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.theme-toggle .moon-icon {
  display: none;
}

.dark-mode .theme-toggle .moon-icon {
  display: block;
}

.dark-mode .theme-toggle .sun-icon {
  display: none;
}

.card {
  border-radius: var(--space-xs);
  background-color: var(--bg-contrast);
  max-width: 100%;
  height: max-content;
  box-shadow: var(--card-box-shadow);
  margin: var(--space) 0;
}

.card > * {
  overflow: hidden;
  border-radius: var(--space-xs);
  max-width: 100%;
}

.time-stamp {
  font-size: 12px;
  color: var(--light-text);
}

.external-link {
  display: inline-flex;
  align-items: center;
}

.italics-caption {
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  color: var(--light-text);
}

/** Home page **/
h2.section-divider {
  border-bottom: 1px solid var(--gray-1);
  text-align: right;
  line-height: 0px;
  margin: var(--space) 0 var(--space) 0;
}

h2.section-divider span {
  background-color: var(--bg);
  padding-left: var(--space-xs);
}

.project-list {
  margin-top: calc(var(--space-sm) * -1);
}

.project {
  padding: var(--space-sm) var(--space);
  margin-left: calc(var(--space) * -1);
  width: fit-content;
  cursor: pointer;
  border-radius: var(--space-sm);
  position: relative;

  h2 {
    color: var(--text);
    text-decoration: underline;
    text-decoration-style: dotted;
  }

  span {
    font-size: 14px;
  }
}

.project:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: 0.5rem;
  background-color: var(--gray-0);
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.22s ease;
}

.dark-mode .project:before {
  background-color: var(--bg-contrast);
}

.project:hover:before,
.project:active:before {
  opacity: 1;
  transform: scale(1);
  transition: all 0.16s ease;
}

.project-list a {
  width: fit-content;
  text-decoration: none;
  display: block;
}

.art-grid {
  margin: var(--space) 0;
  display: grid;
  gap: var(--space);
  grid-template-columns: 1fr 1fr 1fr;
}

@media (width <= 600px) {
  .art-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.art-grid img {
  border-radius: calc(var(--space) / 2);
  cursor: pointer;
  box-shadow: var(--card-box-shadow);
  aspect-ratio: 1;
}

.art-grid a[data-pswp-type="video"] {
  position: relative;
}

.art-grid a[data-pswp-type="video"] img:last-child {
  box-shadow: none;
  opacity: 90%;
  transform: translate(-50%, -50%) scale(0.6);
  position: absolute;
  top: 50%;
  left: 50%;
}

.pswp__img--placeholder {
  display: none;
}

/** CSS Reset **/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.pulse-background {
  animation: pulseBg 2.5s ease infinite;
  animation-delay: 0.15s; /* 100ms delay */
  position: absolute;
  background-color: var(--gray-2);
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
}

@keyframes pulseBg {
  0% {
    transform: scaleX(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(0.4);
    opacity: 0;
  }
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
