html {
  --content-max-width: 600px;
  --space-xs: 5px;
  --space-sm: 10px;
  --space: 15px;
  --space-lg: 30px;
  --space-xl: 45px;

  --neutral-gray-1: #f6f6f6;
  --neutral-gray-2: #a2a2a2;
  --neutral-gray-3: #222222;
  --neutral-gray-4: #fcfcfc;
  --neutral-gray-5: #cecece;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--neutral-gray-4);
}

#content-wrapper {
  margin: var(--space) auto;
  padding: var(--space);
  max-width: var(--content-max-width);
}

h1, h2, h3, h4, h5, h6 {
  font-size: var(--space);
  font-weight: bold;
}

p, a {
  font-size: var(--space);
  color: inherit;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--neutral-gray-5);
  margin: var(--space-sm) 0;
  padding: 0;
}

main {
  min-height: 75vh;
  display: flex;
  gap: var(--space);
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-xs);
  margin-bottom: var(--space-lg);

  h1 {
    flex: 1;
  }
}

footer {
  margin-top: var(--space-lg);
  text-align: right;
}

/** Home page **/
.card {
  border-radius: var(--space-xs);
  background-color: white;
  max-width: 100%;
  box-shadow: 0px 1px 2px 0px var(--neutral-gray-2);
  padding: var(--space-xs);
  transition: background-color 0.25s linear;

  img {
    border-radius: var(--space-xs);
    max-width: 100%;
  }
}

.time-stamp {
  font-size: 12px;
  font-style: italic;
}

.external-link {
  display: inline-flex;
  align-items: center;
}

.project-list {
  padding: var(--space-xs) 0;
}

.project {
  padding: var(--space-sm) var(--space);
  border-radius: var(--space-sm);
  width: fit-content;
  transition: background-color 200ms linear;
  cursor: pointer;

  span {
    font-size: 14px;
  }
}

.project-list a {
  width: fit-content;
  text-decoration: none;
  display: block;
}

.project:hover {
  background-color: var(--neutral-gray-1);
}

/** CSS Reset **/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
