html {
  --content-max-width: 700px;
  --space-xs: 5px;
  --space-sm: 10px;
  --space: 15px;
  --space-lg: 30px;
  --space-xl: 45px;

  --neutral-gray-90: #606060;
  --neutral-gray-50: #c0c0c0;
  --neutral-gray-30: #e0e0e0;
  --neutral-gray-10: #fafafa;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent
  background-color: #f1f1f1;
}

#content-wrapper {
  margin: var(--space) auto;
  padding: var(--space);
  max-width: var(--content-max-width);
}

h1, h2, h3, h4, h5, h6 {
  font-size: var(--space);
  font-weight: bold;
}

p, a {
  font-size: var(--space);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--neutral-gray-50);;
  margin: var(--space-sm) 0;
  padding: 0;
}

main {
  min-height: 80vh;
  display: flex;
  gap: var(--space);
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-xs);
  margin-bottom: var(--space-xl);

  h1 {
    flex: 1;
  }
}

footer {
  text-align: right;
}

/** Home page **/
.card {
  border-radius: var(--space-xs);
  border-top: 1px solid var(--neutral-gray-30);
  box-shadow: 0px 1px 3px 0px var(--neutral-gray-50);
  padding: var(--space-xs);
  transition: background-color 0.25s linear;
}

.project-card-grid {
  margin: var(--space) 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space);
}

.project-card {
  padding: var(--space);
  height: calc(var(--space-lg) * 3);
}

.project-card:hover {
  background-color: var(--neutral-gray-10)
}

.external-link {
  display: inline-flex;
  align-items: center;
}

/** CSS Reset **/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
