---
layout: default
title: Arcsine Imaging • Gus Glover
permalink: /arcsine-imaging
---

<h1>{% include external_link.html title='arcsineimaging.com' href='https://arcsineimaging.com' %}</h1>
<div class="time-stamp">AUG 2023</div>

<p>
Arcsine Imaging was a hybrid software-photography studio, which I founded in early 2020. We built a 3D viewer optimized to
render physical objects on the web. Here is an example:
</p>
<br/>

<h2 class="italics-caption" style="margin-bottom: calc(var(--space) * -1);">On Running Cloudultra – 2021</h2>

<div class="full-width">
  <div class="card">
    <div id="cloudultra-viewer" style="height: 600px; width: 700px;"></div>
  </div>
</div>
<br/>

<p>
What you're seeing is real studio photos dynamically projected and mapped onto a high-quality, compressed 3D mesh.
The idea was to tailor textures, animations, and UX around attractive angles in the underlying photography. Creatives often care 
only about a few select viewpoints and predefined lighting setups, rather than an entirely physically accurate asset. 
</p>

<p>
Most of our clients were large footwear brands seeking a more forward-thinking product presentation. They would send products to our studio for 
digitization; we would collaborate on styling and lighting, and then shoot some high-quality product images. The resulting model could be 
embedded into a wide variety of web-based promotional materials. We provided a flexible 
{% include external_link.html title='Javascript SDK' href='https://arcsineimaging.com/documentation' %} 
that enabled developers to customize their integration.
</p>

<p>
We also achieved great results with larger-scale outdoor subjects:
</p>
<br/>

<h2 class="italics-caption" style="margin-bottom: calc(var(--space) * -1);">Post Alley Art Wall – Seattle – 2022</h2>
<div class="full-width">
  <div class="card">
    <div id="poster-wall-viewer" style="height: 600px; width: 700px;"></div>
  </div>
</div>
<br/>

<p>
Ultimately, the diverse customer needs and scanning complexities prevented us from achieving our desired level of automation. This is fine, 
as not every piece of tech needs to be universe-scale. In this case, we just couldn't find the market share to make a living from Arcsine.
</p>

<p>
We delivered high-quality work for many excellent clients. I had the opportunity to step outside my SDE roots and learn an incredible 
amount about photography, business, sales, product design, and myself. I'll always be grateful for that.
</p>

<script>
  const arcsineSdkScript = document.createElement('script');
  arcsineSdkScript.src = 'https://cdn.arcsineimaging.com/scripts/2.4.0/sdk.bundle.js';

  arcsineSdkScript.addEventListener('load', () => {
    window.arcsineImaging.createViewer(document.getElementById('cloudultra-viewer'), {
      id: 'cloudultrav2_c899665b68d4',
      autoLoad: true,
      initialAnimation: 'turntable',
      navigationOrder: [0,1,4,5,6,7,8,10],
      animations: {
        turntable: {
          speed: -0.08
        }
      }
    });

    window.arcsineImaging.createViewer(document.getElementById('poster-wall-viewer'), {
      id: 'post-alley-poster-wallv1_53d5d4797952',
      autoLoad: true
    });
  });

  document.head.appendChild(arcsineSdkScript);
</script>



