---
layout: default
title: EFL Poster • Gus Glover
permalink: /efl-poster
---

<h1>Big English Football Poster</h1>
<div class="time-stamp">NOV 2024</div>

<p>
  I thought it would be fun to fit as much of the {% include external_link.html
  title='English football league system'
  href='https://en.wikipedia.org/wiki/English_football_league_system#The_system'
  %} as I could onto one poster.
</p>

<p>
  If you like it, it's easy to get in your own space. Feel free to download your
  preferred size below, print it out, hang it up, and enjoy!
  <br />
  <br />
  For the 8 tier poster, make sure to find a reputable print shop. There's very
  fine text in some of the badges that can get hard to read in a low-end print.
</p>

<h2>Full resolution downloads</h2>

<ul>
  <li>
    {% include external_link.html title='8 Tiers – B1 – Movie Poster Size (27" x
    40")'
    href='https://gus-city.s3.us-west-2.amazonaws.com/efl-posters/B1-movie-full-2026.png'
    %}
  </li>
  <li>
    {% include external_link.html title='7 Tiers – B1 – Movie Poster Size (27" x
    40")'
    href='https://gus-city.s3.us-west-2.amazonaws.com/efl-posters/B1-movie-2026.png'
    %}
  </li>
  <li>
    {% include external_link.html title='7 Tiers – A1 – Concert Poster Size (24"
    x 36")'
    href='https://gus-city.s3.us-west-2.amazonaws.com/efl-posters/A1-poster-2026.png'
    %}
  </li>
  <br />
  <li>
    {% include external_link.html title='B1 (2024–25 Archive) – Pictured below'
    href='https://gus-city.s3.us-west-2.amazonaws.com/efl-posters/B1-movie-2025.png'
    %}
  </li>
  <li>
    {% include external_link.html title='A1 (2024–25 Archive)'
    href='https://gus-city.s3.us-west-2.amazonaws.com/efl-posters/A1-poster-2025.png'
    %}
  </li>
</ul>

<div class="full-width">
  {% include image_card.html src="efl_poster_full.jpg" alt="Large poster with
  badges from 8 tiers of english football." height="600px" aspect="800 / 1259"
  %}

  <!-- prettier-ignore -->
  {% include image_card.html src="efl_poster.jpg" alt="Large poster with
  badges from 7 tiers of english football." height="600px" aspect="800 / 1259"
  %}

  <!-- prettier-ignore -->
  {% include image_card.html src="efl_poster_physical.jpg" alt="Lifestyle
  shot of poster, framed and hung on the wall." height="600px" aspect="800 /
  1058" %}
</div>

<p></p>

<h2>
  {% include external_link.html title='Tech details'
  href='https://github.com/gglover/efl-poster' %}
</h2>

<p>
  I wrote a few Python utility scripts to automate the process. Data is sourced
  from league tables and team pages on Wikipedia. The scraped HTML is then piped
  into BeautifulSoup to extract relevant metadata.
</p>

<p>
  To speed up badge layout, I wrote a simple HTML / CSS document generator. The
  final poster is exported directly from Chrome using the
  <code>Full size screenshot</code> devtools built-in. This isn't super
  flexible, but any final touch-ups can easily be performed by importing the
  poster into Illustrator.
</p>

<p>
  This setup makes it relatively painless for me to update the poster for future
  promotion / relegation cycles.
</p>

<br />
<h2>Previous efforts</h2>

<p>
  I made a first attempt at this poster when I was in high school. At the time,
  I was waking up at 7 AM most weekends to catch West Brom playing.
</p>

<div class="full-width">
  {% include image_card.html src="efl_poster_physical_old.jpg" alt="Large poster
  with badges from 7 tiers of english football" height="450px" alt="Original
  poster from 2012" aspect="461 / 600" %}
</div>
<p>
  Putting this together was a tedious and fully-manual process. Many hours were
  spent pushing badges around in a huge Photoshop file. I didn't have the
  patience to add all the lower tiers. This was the main reason I chose to do so
  much automation this time around.
</p>

<hr />
<p>
  If you've printed it out for yourself or found this interesting, shoot me an
  email. I'd love to hear from you!
</p>
