---
layout: default
title: Pokepalettes • Gus Glover
permalink: /pokepalettes
---

<h1>{% include external_link.html title='pokepalettes.com' href='https://pokepalettes.com' %}</h1>
<div class="time-stamp">NOV 2015</div>

<p>
A simple, one-page site that breaks down the color palettes used in Pokémon sprites.
Some designers have told me that they use it for inspiration. Most people just visit to get blasted with pretty colors.
</p>

<a href="https://pokepalettes.com">
  {% include image_card.html src="pokepalettes.jpg" alt="pokepalettes.com screenshot with porygon featured" %}
</a>

<p>
I originally built this in my college dorm to learn jQuery. A few years later, I refined the idea and rewrote the site in Backbone.js. This was before
<code>image-rendering: pixelated;</code> was widely supported in the CSS spec so I expand the 96x96 sprites pixel-by-pixel onto a
<code>&lt;canvas&gt;</code> element.
</p>

<p>
I wanted to create something smooth, performant, and fun to use. It ended up being well-received, and I earned a few write-ups.
</p>

<div style="display: flex; gap: var(--space-sm)">
{% include external_link.html title='fastcompany.com' href='https://www.fastcompany.com/3049601/pokemon-palettes-turns-pikachu-into-a-design-tool' %}
{% include external_link.html title='onepagelove.com' href='https://onepagelove.com/pokemon-palettes' %}
</div>



