---
layout: default
title: Tony Delivers
permalink: /tony-delivers
---

<h2>{% include external_link.html title='tonydelivers.co' href='https://tonydelivers.co' %}</h2>

<p>
Tony Delivers: the cult classic, one-man DoorDash killer. I helped my friend Tony create the *branding*, *marketing* and *website* for
his new food delivery service.
</p>

<p>
Seattle's minimum wage ordinance for gig workers was causing chaos in the market; Tony was on the verge of quitting UberEats.
Orders were drying up and people were pissed at the higher fees. We got together and talked it out. In the next few nights, I put a poster, logo and website together.
</p>

<div style="margin: auto; width: 300px;">
  <a href="https://tonydelivers.co">
    {% include image_card.html alt="tony delivers tweet and advertising" src="tony-delivers.jpg" %}
  </a>
</div>

<p>
Yes, it's a little rough around the edges, but that might just be what makes it work. Flash and polish are just one tool in the bag. I try not to make things more complicated 
than they need to be.
</p>

<p>
People were eager to pick up on the story:
</p>

<div style="display: flex; gap: var(--space-sm)">
{% include external_link.html title='seattle times' href='https://www.seattletimes.com/seattle-news/seattles-tony-delivers-hopes-to-give-customers-more-than-food/' %}
{% include external_link.html title='geekwire' href='https://www.geekwire.com/2024/economics-of-food-delivery-tested-in-seattle-as-tech-companies-combat-minimum-wage-law-for-drivers/' %}
{% include external_link.html title='fortune' href='https://finance.yahoo.com/news/meet-30-old-delivery-driver-110000497.html' %}
{% include external_link.html title='business insider' href='https://www.businessinsider.com/i-started-own-delivery-business-after-working-for-uber-eats-2024-2' %}
{% include external_link.html title='seattle eater' href='https://seattle.eater.com/2024/2/21/24079162/tony-delivers-seattle-delivery-app-fees-downtown' %}
{% include external_link.html title='kiro7' href='https://www.kiro7.com/news/local/tired-seattles-new-food-delivery-fees-one-driver-took-things-into-his-own-hands/MHCVFIV6AZASLCWHJAJMIR2EDE/' %}
</div>

{% include image_card.html src="tony-delivers-2.jpg" alt="tony in front of the downtown seattle public library waiting for orders" %}

<p>
As of 10/2024 Tony is still booked out with orders. He has a documentary and app launching soon. The legend is growing.
</p>