<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-language" content="en" />

    <title>{{ page.title | default: site.title }}</title>
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.svg" />
    <link rel="canonical" href="{{ site.url | append: page.url }}" />

    <meta
      property="og:title"
      content="{{ page.title | default: site.title }}"
    />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="{{ site.url | append: page.url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary" />
    <meta
      property="twitter:title"
      content="{{ page.title | default: site.title }}"
    />

    <link rel="stylesheet" href="/assets/base.css" />
    <link rel="stylesheet" href="/assets/vendor/photoswipe.css" />

    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.171.0/build/three.module.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.171.0/examples/jsm/"
        }
      }
    </script>
  </head>
  <body>
    <div id="content-wrapper">
      {% include header.html %}
      <main>{{ content }}</main>
      {% include footer.html %}
    </div>
  </body>

  {% include analytics.html %} {% include 3d_city.html %}
</html>
